.content_sidebar {
  background: #405d72;
  width: 250px;
  height: 100vh;
  padding: 2px;
  scrollbar-width: none;
  box-sizing: border-box;
  transition: width 0.1s ease;
  overflow: hidden;

  @media (max-width: 768px) {
    position: absolute;
    display: none;
    width: 100%;
    z-index: 7;
  }
}

.content_sidebar.collapsed {
  width: 3%;
}

.logo_sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  height: 9%;
}

.logo_sidebar h1 {
  font-size: 1rem;
}

#content_accordion {
  background: transparent;
  color: #fff;
  box-shadow: none;
}

/* CLASE DE MATERIAL UI */
.MuiAccordionSummary-content.css-1betqn-MuiAccordionSummary-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 7px 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#accordion_summary {
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0 6px;
  min-height: unset;
  transition:
    background 0.2s ease-in-out,
    color 0.3s ease-in-out;
}

#accordion_summary:hover {
  background: #456983;
}

#accordion_details {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 2px;
  padding: 0.3rem 0.8rem 0.3rem 2.3rem;
  cursor: pointer;
  transition:
    background 0.2s ease-in-out,
    color 0.3s ease-in-out;
}

#accordion_details:hover {
  color: rgb(255, 174, 0);
}

/* .content_sidebar.collapsed .accordion_summary_text {
  display: none;
}

.content_sidebar.collapsed .MuiAccordionSummary-expandIcon {
  display: none;
} */